@charset "UTF-8";
#wrapper{
					border:1px solid black;
					width:660px;
					margin:0px auto;
					padding:30px;
					background-color:#FF6;
				}
				
	
body {
	background-color:#900;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color:#006;
}

header{
	background-color: #393;
	color: #903;
	padding-left: 5px;
	padding-right: 5px;
}

h2,h3{
	color: #903;
}

header h1,h2{
	color: #903;
	}


a:link, a:visited{
	color: #006;
	text-decoration:none;
		font-weight:bold;
	
}
a:hover{
	text-decoration:blink;
	color:#903;
	background-color:#FC0;
	}
	
a:ul{
	list-style-type:none;
	text-decoration:none;
	}
	
nav ul{
		text-decoration:none;
		list-style-type: none;
		margin:0;
		padding:0;
		
	}
/*nav a:link, nav a:visited, nav a:hover, nav p {
	background-color: #FFC;
	color: #309;
	text-decoration:none;
	}
*/	
hgroup, nav p, footer{
	color: #006;
	text-decoration:none;
	}